@media screen and (max-width: 900px) {
    
    *{
        box-sizing: border-box;
    }
    /* Navigation Section Start Here*/
    .header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 5px;
        background: black;
        display: flex;
        justify-content: space-between;
        align-items : center;
    }

    /* Menu button for responsive navigation bar */
.hamburger{
    display: flex;
    width: 35px;
}
.hamburger a{
    cursor: pointer;
}
.hamburger a img{
    width: 35px;
}
.back{
    display: flex;
}
.back img{
    width: 35px;
}
.sticky:target{
    visibility: visible;
    opacity: 1;
}
/* Menu button for responsive navigation bar */

    .logo{
        font-size: 25px;
        color: black;
        font-weight: 600;
        transition: 0.3s ease;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        gap: 30px;
        background-color: black;
        position: absolute;
        width: 100%;
        height: 50vh;
        top: 0;
        left: 0;
        opacity: 0;
        padding: 5px;
        padding-top: 20px;
        visibility: hidden;
        transition: all .3s ease-in-out;
    }
    .navbar a{
        font-size: 16px;
        color: white;
        font-weight: 500;
        border-bottom:3px solid transparent;
        transition: 0.3s ease;
    }
    .navbar a:hover, .navbar a:active{
        color:orangered;
        border-bottom: 3px solid orangered;
    }

    .contact{
        padding: 10px !important;
        background-color: white;
        color: black;
        border: 1px solid white;
        border-radius: 15px;
        font-size: 15px;
        font-weight:700;
    }
    /* Navigation Section End Here*/ 

    /* Home Section Start Here*/

    .home{
        padding: 150px 10px 50px 10px;
        width: 100%;
        
        display: flex;
        flex-direction: column-reverse;
    }
    .home-content{
        width: 100%;
        text-align: center;
    }
    .home-content h1, .home-content h3, .para{
        padding: 0px !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .image-box{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .image-box img{
        margin: 0px !important;
        padding: 0px !important;
        position: relative !important;
        left: 0px !important;
        right: 0 !important;
        top: 0 !important;
        bottom: 0 !important;
    }
    .btn-box{
        margin-top: 25px ;
        display: flex;
        justify-content: center;
    }
    .btn-1{
        margin-top: 30px !important;
        padding: 10px 10px;
        font-size: 15px;
    }
    .btn-2{
        padding: 15px 20px;
        font-size: 15px;
    }
    /* Home Section End Here*/

    /* About Section Start Here*/
    
    .about{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center; 
        align-items: center;
        padding: 20px 8px;
        background-color: black;
        gap: 16px;
    }
    .about .image-box{
        width: 100%;
        padding: 50px;
    }
    .about-content{
        width: 100%;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .btn-2{
        width: 200px;
        margin-top: 30px;
    }
    
    .my-skills{
        width: 100%;
        height: fit-content !important;
    }
    .inner{
        margin: 0px !important;
        padding: 0px !important;
        width: 100%;
        height: 200px !important;
    }
    .inner h2{
        padding: 0px !important;
    }
    .outer{
        gap: 15px;
        width: 100%;
        height: fit-content;
        display: grid !important;
        grid-template-columns: repeat(2,1fr);
        padding: 10px;
    }
    /* About Section End Here*/

}